/* CSS untuk body */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


/* CSS untuk header */

header {
    background-color: #3A57E8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-left h1 {
    margin: 0;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.header-right .dashboard-link {
    color: #ffffff;
}


/* CSS untuk main content */

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


/* CSS untuk sidebar */

.sidebar-container {
    flex: 0 0 250px;
    max-width: 150px;
    max-height: 150px;
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #2C47C6;
}


/* CSS untuk konten postingan */

.post-section {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    /* Memungkinkan kartu postingan untuk melintas ke baris baru jika ruang tidak mencukupi */
    gap: 20px;
    /* Menambahkan jarak antara kartu postingan */
    justify-content: flex-start;
    /* Memulai penempatan kartu postingan dari awal flex container */
}

.post-card {
    flex: 0 0 calc(33.333% - 20px);
    /* Mengatur lebar kartu postingan menjadi sekitar 1/3 dari lebar container, dikurangi jarak antar kartu */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-image img {
    width: 100%;
    height: 150px;
    /* Menetapkan ketinggian gambar */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 0;
    /* Menghapus margin kanan pada gambar */
}

.post-content {
    padding: 15px;
}

.post-content h3 {
    margin-top: 0;
    font-size: 18px;
}

.post-content p {
    margin: 10px 0;
    font-size: 14px;
}


/* CSS untuk pesan jika tidak ada postingan */

.no-post {
    text-align: center;
    margin-top: 20px;
    color: #888;
    font-size: 16px;
}